absl-py==0.15.0
astunparse==1.6.3
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.2.0
clang==5.0
cloudpickle==1.2.2
ConfigArgParse==1.7
contourpy
cycler==0.12.1
deepctr
fastdtw
flatbuffers==1.12
fonttools==4.44.0
gast==0.4.0
ge==0.0.2
gensim
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.2
gym
h5py
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
Jinja2==3.1.2
joblib==1.3.2
keras==2.15.0
Keras-Preprocessing
kiwisolver==1.4.5
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib
networkx==3.2.1
numpy
oauthlib==3.2.2
opt-einsum
packaging==23.1
pandas
Pillow==10.1.0
progress==1.6
protobuf==3.20
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyglet==2.0.9
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn
scipy
six==1.15.0
smart-open==6.4.0
tensorboard
tensorboard-data-server
tensorboardX
tensorflow==2.6.0
tensorflow-estimator==2.15.0
termcolor==1.1.0
threadpoolctl==3.2.0
torch @ https://download.pytorch.org/whl/cu113/torch-1.10.0%2Bcu113-cp39-cp39-linux_x86_64.whl#sha256=c3c5090e1e1be5c803bbb652bc3a0accd1f88625c4c917efa7270d3a0fb024e8
torch-cluster @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_cluster-1.5.9-cp39-cp39-linux_x86_64.whl#sha256=88d2a609bb0af629ec58746dc37b040ea177f907e9fe7c582c815aaf60f64f05
torch-geometric==2.2.0
torch-scatter @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_scatter-2.0.9-cp39-cp39-linux_x86_64.whl#sha256=ef35108c05516e419d3093832556b2657bbba2cf6f81f62babd05b40abafee83
torch-sparse @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_sparse-0.6.12-cp39-cp39-linux_x86_64.whl#sha256=724e511b939568970d0e3823cb20c2f935d4716fdff0865db8abe9f4380d999f
torch-spline-conv @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_spline_conv-1.2.1-cp39-cp39-linux_x86_64.whl#sha256=540030aa4668604ff62e2b255b188407c3ec2ff736b1b4a77724c6c45643e14d
tqdm==4.66.1
typing-extensions==3.7.4.3
tzdata==2023.3
urllib3==2.0.5
Werkzeug==3.0.1
wrapt==1.12.1
zipp==3.17.0
